/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-1 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
}

#amazingcarousel-1 .amazingcarousel-image img {
	display: block;
	width: 110%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#amazingcarousel-1 .amazingcarousel-text {
	position:absolute;
	left: 0px;
	bottom: 0px;
	text-align:center;
	width: 100%;
	display: none;
}

#amazingcarousel-1 .amazingcarousel-image:hover div.amazingcarousel-text {	
	display: block;
}

#amazingcarousel-1 .amazingcarousel-text:hover {
	display: block;
}

#amazingcarousel-1 .amazingcarousel-text-bg {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #333333;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#amazingcarousel-1 .amazingcarousel-title {
	position:relative;
	font:14px 'Open Sans', sans-serif;
	color:#ffffff;
	text-align:center;
	width: 100%;
	padding: 10px 0px;
}

/* carousel*/

#amazingcarousel-1 .amazingcarousel-list-container { 
	padding: 0;
}

/* item */

#amazingcarousel-1 .amazingcarousel-item-container {
	text-align: center;

	background-color: #fff;
	/*padding: 8px;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);*/
}

/* arrows */

#amazingcarousel-1 .amazingcarousel-prev {
	left: 50%;
	top: 0%;
	margin-left: -16px;
	margin-top: -36px;
}

#amazingcarousel-1 .amazingcarousel-next {
	left: 50%;
	bottom: 0%;
	margin-left: -16px;
	margin-bottom: -36px;
}

/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav {
	position: absolute;
	top: 0%;
	left: 100%;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper {
	margin: 16px;
}

