.green_class{
    color: #000000;
    border: 2px solid green;
    background-color: rgba(0,125,0,0.8);
}
.yellow_class{
    color: #000000;
    border: 2px solid yellow;
    background-color: rgba(255,255,0,8);
}
.orange_class{
    color: #000000;
    border: 2px solid orange;
    background-color: rgba(255,180,0,0.8);
}
.red_class{
    color: #000000;
    border: 2px solid red;
    background-color: rgba(225,0,0,0.8);
}
