body {
    padding-top: 0px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.fondo{
    background: #ffffff url('../img/fondo5.jpg') no-repeat center top;
    background-size: cover !important;
}


.navbar .container {
    min-height: 83px;
}

.navbar-fixed-top {
    position: static;
    margin-bottom: 20px;
}

.navbar li {
    padding-top: 12px;
}

.navbar img {
    height: 60px;
}

.panel-info > .panel-heading {
    color: #555;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.form-signin {
    margin: 0 auto;
  max-width: 400px;
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 1px 1px #e7e7e7;
    -webkit-box-shadow: 0 0 1px 1px #e7e7e7;
	box-shadow: 0 0 1px 1px #e7e7e7;
  border-radius:2px;
}
.main{
	padding: 38px;
    padding-bottom: 65px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:40px;
    margin-top: 80px;
}

.main .input-group{
    margin-bottom: 10px;
}

.comentarios{
    color: white;
    font-size: 30px;
    width: 400px;
    margin-left: 100px;
    margin-top: 200px;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer > .container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer > .container > div > p{
    color: #ffffff;
}