/*  bhoechie tab */
div.bhoechie-tab-container{
   width: 85%;
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;

  margin-top: 20px;
  margin-left: 15px;
  /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
.amazingcarousel-image>a{
  margin-bottom: 0;
}
.amazingcarousel-image>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #0965C9;
}
.amazingcarousel-image>a:first-child{
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
.amazingcarousel-image>a:last-child{
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
}
.amazingcarousel-image>a.active,
.amazingcarousel-image>a.active .glyphicon,
.amazingcarousel-image>a.active .fa,.amazingcarousel-image>a.active:hover{
  background-color: rgb(69,117,181);
  background-image: rgb(69,117,181);
  color: #ffffff;
}
.amazingcarousel-image>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid rgb(69,117,181);
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/* LAYOUT */
body { padding-top: 40px; }

.semester-box{
    padding: 4px 4px 0 4px;
}

.semester-box .panel{
    height: 240px;
    border: 10px solid transparent;
    border-bottom: 25px solid transparent;
    margin-bottom: 0 !important;
}

.border-red{
    border-color: rgb(191,51,43) !important;
}

.border-green{
    border-color: rgb(79,145,74) !important;
}

.border-blue{
    border-color: rgb(69,117,181) !important;
}

.border-yellow{
    border-color: rgb(220,163,43) !important;
}

.shadow{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.lateral-menu .summary-box{
    height: 175px;
}

.maestrias-box{
    margin-top: 20px;
    height: 260px;
}

.no-lateral-padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.plan_item{
    margin-bottom: 10px;
    border-radius: 4px;
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 10px;
    height: 45px;
}
.plan_item:hover{
    background-color: #ddd;
    text-decoration: none;
}

.plan_item_container{
    margin-bottom: 10px;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    height: 45px;
}

.draggable.plan_item{
    width: 172px;
}

.hovered{
    background-color: #f5f5f5;
    text-decoration: none;
    border-style: dashed;
    border-color: #e6e6e6;
}




#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px #666;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-target {
    background-color: #29e;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;

    background-color: #99e;
    border: solid 2px white;

    transition: background-color 0.3s;
}

.can-drop {
    background-color: #4e4;
}

.background-green{
    background: green;
}

.background-red{
    background: red;
}

.background-yellow{
    background: yellow;
}

.background-orange{
    background: orange;
}

.summary{
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 10px;
}

.subject{
    float: left;
    margin: 0 5px;
}

/*=========== OPTIMIZADOR ============*/
.opt{
    padding-top: 0 !important;
}