<!DOCTYPE html>
<html>
<head lang="es">
    {% load staticfiles %}
    <title>Schoodle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" />
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    {% bootstrap_javascript %}
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/plan.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/ui.js' %}"></script>
    <link href="{% static 'css/plan.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/general.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'carousel/carouselengine/amazingcarousel.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'carousel/carouselengine/initcarousel-1.css' %}">
    <script src="{% static 'carousel/carouselengine/initcarousel-1.js' %}"></script>
    <meta charset="utf-8">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            {% load coordinador_extras %}
            <li><img style="width: 38%; margin-left: 55px;" src="{% static 'logo.png' %}"/></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% bootstrap_icon 'user' %}   {% block nombreUsuario %} {% endblock %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'perfil' %}">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        <!--/.nav-collapse -->
    </div>
</div>
<!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% load coordinador_extras %}
                <li class="{% active request "/" %}"><a href="{% url 'home' %}">{% bootstrap_icon 'home' %} Home</a></li>
                <li class="{% active request "/plan" %}"><a href="{% url 'planeador' %}">{% bootstrap_icon 'calendar' %} Planeador</a></li>
                <li class="{% active request "/folder" %}"><a href="{% url 'carpeta' %}">{% bootstrap_icon 'folder-open' %} Carpeta Electr&oacute;nica</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% bootstrap_icon 'user' %} Mi Nombre <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'perfil' %}">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>-->
​
<div class="container">
    <div class="col-xs-2 lateral-menu" style="text-align: center;margin-top: 20px;">
        {% block menu_lateral %}
            {# INSERT LATERAL MENU #}
        {% endblock %}
    </div>
    <div class="col-xs-10 contenido">
        {% block contenido %}
            {# INSERT CONTENT #}
        {% endblock %}
    </div>
</div>
​
</body>
</html>