<!DOCTYPE html>
<html>
<head lang="es">
    {% load staticfiles %}
    <title>Schoodle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" />
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{% url 'js_reverse' %}"></script>
     <script src="{% static 'js/highcharts.js' %}"></script>
     <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-switch.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/optimizador.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/plan.js' %}"></script>
    <link href="{% static 'css/plan.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/especial_tab.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/general.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'js/optimizador.js' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
    <meta charset="utf-8">
</head>
<body ><!--class="opt"-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            {% load coordinador_extras %}
            <li><img style="width: 50%" src="{% static 'logo.png' %}"/></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% bootstrap_icon 'user' %} {% block nombreCoordinador %}{% endblock %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'perfil' %}">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        <!--/.nav-collapse -->
    </div>
</div>
​<div class="container">
    <div class="col-xs-2 lateral-menu" style="text-align: center;">

    </div>
    <div class="col-xs-10">
        {% block titulo %}

        {% endblock %}
    </div>
    <div class="col-xs-12 contenido">
        {% block contenido %}
            {# INSERT CONTENT #}
        {% endblock %}
    </div>
</div>
​
</body>
</html>