<!DOCTYPE html>
<html>
<head lang="es">
    {% load staticfiles %}
    <title>Schoodle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}"/>
    {% load bootstrap3 %}
    {% load fontawesome %}
    {% bootstrap_css %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{% url 'js_reverse' %}"></script>
    <script src="{% static 'js/adjector.js' %}"></script>
    {% bootstrap_javascript %}
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adjector.css' %}">

    <meta charset="utf-8">
</head>
<body class="fondo">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            {% load coordinador_extras %}
            <li><img src="{% static 'img/logo_uniandes.png' %}"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><img src="{% static 'logo.png' %}"/></li>
        </ul>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="container">
    <div class="col-lg-7 col-md-7">
        <div class="comentarios">
            <!--<p>Con Schoodle podrás cambiar el proceso de inscripción de materias para tus materias de maestría</p>-->
            <!--<p>Con Schoodle podrás cambiar el proceso de inscripción de materias para tus materias de maestría</p>
            <p>Con Schoodle podrás cambiar el proceso de inscripción de materias para tus materias de maestría</p>-->
            <div id="robo-wrapper" class="paragraph-content">
                <div id="sub" class="contain"><span class="adject">
                    Planea las materias que quieres ver los siguientes semestres a partir de la probabilidad que tienes de verlas.
	        		|
	        		Maneja de forma organizada tus materias aprobadas y las que tienes pendientes por cursar.
	        		|
	        		Solicita homologaciones para cumplir a cabalidad tu programa de postgrado.
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="row">
            <form class="form-signin mg-btm" method="post" action="/login/">
                <h3 class="heading-desc">
                    ¡Entra ya!</h3>

                <div class="main">
                    {% if mensaje  %}
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert" href="#">×</a>{{ mensaje }}
                     </div>
                    {% endif  %}
                    {% csrf_token %}
                    <div class="input-group">
                      <span class="input-group-addon">
                          {% bootstrap_icon 'user' %}
                      </span>
                        <input type="text" class="form-control" placeholder="Usuario" id="username" name="username">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                          {% bootstrap_icon 'lock' %}
                      </span>
                        <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password">
                    </div>
                    <span class="clearfix"></span>
                    <button type="submit" class="btn btn-info btn-danger pull-right" id="login">Login</button>
                </div>
                <!--<div class="social-box">
                    <div class="row mg-btm">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-primary btn-block">
                                {% fontawesome_icon 'facebook' %}    Login with Facebook
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-info btn-block">
                                {% fontawesome_icon 'twitter' %}    Login with Twitter
                            </a>
                        </div>
                    </div>
                </div>-->
            </form>
        </div>
    </div>
</div>
<div class="footer">
      <div class="container">
          <div style="text-align: center">
            <p class="text-muted">Copyright 2014 &copy; - Schoodle&reg;</p>
          </div>
      </div>
</div>
<script>
    $(document).ready(function () {
        $(".contain .adject").adjector({
            sep: "|",
            stay: 5000,
            trans: 850,
            arm: 0
        });

        /*$("#login").click(function () {
            var token = "{{ csrf_token }}";
            var username = $("#username").val();
            var password = $("#password").val();
            $.post(Urls.login(), {username:username, password: password, csrfmiddlewaretoken: token}, function () {

            })
        })*/
    });
</script>
</body>