{% extends "layout_optimizador.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load fontawesome %}
{% block nombreCoordinador%}{{ nombreCoordinador }}{% endblock %}
{% block titulo %}
    <h1>{{programa}}</h1>
{% endblock %}
{% block contenido %}
    <section style="background:#efefe9;">
        <div class="board">
            <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active">
                         <a href="#home" data-toggle="tab" title="Home">
                             <span class="round-tabs five">
                                  {% bootstrap_icon 'home' %}
                             </span>
                        </a>
                     </li>
                     <li>
                        <a href="#demanda" data-toggle="tab" title="Demanda">
                             <span class="round-tabs two">
                                 {% fontawesome_icon 'list' %}
                             </span>
                        </a>
                    </li>
                    <li>
                        <a href="#config" data-toggle="tab" title="Configuración">
                             <span class="round-tabs one">
                                 {% fontawesome_icon 'cog' %}
                             </span>
                        </a>
                    </li>
                    <li>
                        <a href="#optimizador" data-toggle="tab" title="Optimizador">
                            <span class="round-tabs three">
                                 {% fontawesome_icon 'bar-chart-o' %}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#estudiantes" data-toggle="tab" title="Estudiantes">
                             <span class="round-tabs four">
                                  {% bootstrap_icon 'user' %}
                             </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                {% include 'optimizador/home_tab.html' %}
                {% include 'optimizador/conf_tab.html' %}
                {% include 'optimizador/demanda_tab.html' %}
                {% include 'optimizador/optimizador_tab.html' %}
                {% include 'optimizador/estudiantes_tab.html' %}
                <div class="clearfix"></div>
            </div>

        </div>
    </section>
    <script>
        $(document).ready(function(){
            $('a[title]').tooltip();
        });
    </script>
{% endblock %}