{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load coordinador_extras %}
{% block nombreUsuario %}{{ nombreUsuario }}{% endblock %}
{% block menu_lateral %}
    <script>
        //Recuperar variables necesarias para javascript
        var token = '{{ csrf_token }}';
        var maestria = {{ maestria.id }};
    </script>
    <div class="shadow summary-box">
        <h6 style="color: black; margin-top: 0px"><b>Creditos aprobados:<datos-opt id="aprobados">{{ estudiante.creditos_aprobados_curso_user }}</datos-opt></b></h6>
        <h6 style="color: black"><b>Creditos en el planeador:<datos-opt id="totales">{{ estudiante.creditos_totales_planeador }}</datos-opt></b></h6>
        <h6 style="color: black"><b>Creditos faltantes:<datos-opt id="faltantes">{{ estudiante.creditos_faltantes }}</datos-opt></b></h6>
        <h6 style="color: black;">
            <div class="summary background-green"></div>
            <b>Alta probabilidad</b>
        </h6>
        <h6 style="color: black;">
            <div class="summary background-yellow"></div>
            <b>Media probabilidad</b>
        </h6>
        <h6 style="color: black;">
            <div class="summary background-orange"></div>
            <b>Baja probabilidad</b>
        </h6>
        <h6 style="color: black; margin-bottom: 0px">
            <div class="summary background-red"></div>
            <b>Muy baja probabilidad</b>
        </h6>

        <div class="html_dialog_button"><h6 class="glyphicon glyphicon-info-sign"
                                            style="margin-top:5px; cursor: pointer"><b> Info</b></h6>

            <p class="title_html_dialog_button" style="display: none"><b>Detalle de probabilidad de inscripción de
                curso</b></p>

            <div class="content_html_dialog_button" style="display: none">
                <p>Para el departamento de sistemas de la Universidad de Los Andes es de suma importancia conocer las
                    necesidades de sus
                    estudiantes con el fin de generar herramientas y metodos que nos permitan ofrecer un mejor servicio.
                </p>

                <p>Con el proposito de guiar a los estudiantes en las asignaturas que deberian tomar en su carrera y
                    garantizar que la mayoria de los estudiantes puedan
                    acceder a las clases que necesitan ver, el sistema presenta la probabilidad de acceder a una materia
                    en base a colores que se relacionan con el historial
                    de creditos vistos por el estudiante.</p>

                <p>A continuación, encontraras el detalle de los rangos de creditos, la probabilidad y el color:</p>
                <table class="table">
                    <tr>
                        <td><b>Color</b></td>
                        <td><b>Créditos</b></td>
                        <td><b>Probabilidad</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="background-color:green; width: 100%; height: 10px;"/>
                        </td>
                        <td> Tienes los créditos suficientes para verla</td>
                        <td> Alta</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="background-color:yellow; width: 100%; height: 10px;"/>
                        </td>
                        <td> Requieres entre 1 y 8 créditos más para verla</td>
                        <td> Media</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="background-color:orange; width: 100%; height: 10px;"/>
                        </td>
                        <td> Requieres entre 9 y 16 créditos más para verla</td>
                        <td> Baja</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="background-color:red; width: 100%; height: 10px;"/>
                        </td>
                        <td> Requieres entre 16 y 24 créditos más para verla</td>
                        <td> Muy Baja</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="maestrias-box">
        {% if maestria %}
            <div class="amazingcarousel-image" style="margin-bottom: 15px" title="{{ maestria.descripcion }}">
                <a href="#" onclick="cargarMateriasPorMaestria('{{ maestria.id }}',token)"
                   class=" text-center list-group-item active" data-id="maestria-{{ maestria.id }}">
                    <h4 class="glyphicon glyphicon-book"></h4><b style="padding-left: 10px">{{ maestria.codigo }}</b>
                </a>
            </div>
            <hr width="90%" size="3">
        {% endif %}
        <div class="row">

            <div class="bhoechie-tab-container">
                <div class="bhoechie-tab-menu">
                    <div class="list-group">

                        <div id="amazingcarousel-container-1">
                            <div id="amazingcarousel-1"
                                 style="display:block;position:relative;width:100%;max-width:240px;margin:0px auto 0px;">
                                <div class="amazingcarousel-list-container">
                                    <ul class="amazingcarousel-list">
                                        {% for p in lista_maestrias %}
                                            <li class="amazingcarousel-item">
                                                <div id="myblock_{{ p.nombre }}" class="amazingcarousel-item-container">
                                                    <div class="amazingcarousel-image" title="{{ p.descripcion }}">
                                                        <a href="#" onclick="cargarMateriasPorMaestria('{{ p.id }}', token)"
                                                           id="materia_clic" data-id="maestria-{{ p.id }}" class=" text-center list-group-item ">

                                                            <h4 class="glyphicon glyphicon-book"></h4>
                                                            <b style="padding-left: 10px">{{ p.codigo }}</b>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="amazingcarousel-prev"></div>
                                    <div class="amazingcarousel-next"></div>
                                </div>
                                <div class="amazingcarousel-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block contenido %}
                                                                                                                                                                                                <div id="planeador">
        {% for p in estudiante.plan_student %}
            <div class="col-xs-3 semester-box" style="margin-top: 10px">
                <div class="panel panel-default border-blue">
                    <h5 class="center-block text-center"><b>{{ p.name }}</b></h5>

                    <div class="panel-body" style="padding-top: 0; height: 170px;">
                        <div class="plan_item_container droppable" data-plan="1-{{ p.id }}" style="margin-bottom: 10px">

                        </div>
                        <div class="plan_item_container droppable" data-plan="2-{{ p.id }}" style="margin-bottom: 10px">

                        </div>
                        <div class="plan_item_container droppable" data-plan="3-{{ p.id }}" style="margin-bottom: 10px">

                        </div>
                        <script>
                            $(document).ready(function () {
                                {% for item in p.data %}
                                    var plan_item = $("[data-plan={{ forloop.counter }}-{{ p.id }}]");
                                    plan_item.addClass('{% subjectClassColor item.creditos_minimos  %}')
                                    plan_item.text('{{ item.curso.nombre }}');
                                    plan_item.addClass('plan_item');
                                    plan_item.addClass('info-materias');
                                    plan_item.attr({id: 'curso_{{ item.curso.id }}'});
                                    plan_item.attr({'data-curso':{{item.curso.id}}});
                                    plan_item.append("<a class='eliminarMateriaPlaneador' data-id='{{ item.id }}' href='javascript:void(0)' ><span style='bottom:0;right:0;position:absolute;color:black' class='glyphicon glyphicon-remove'></span></a>");
                                {% endfor %}
                            });
                        </script>
                        {% comment %}{% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="col-xs-12 shadow maestrias-box no-lateral-padding">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <span class="navbar-brand">Materias</span>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div id="materias-cargadas" class="materias">

        </div>
    </div>
    <script>
        $(document).ready(function () {
            masterList();
            loadUi();
            loadInfoMaterias();
            cargarMateriasPorMaestria({{ maestria.id }}, token);
            cargarDraggable();
        });
    </script>
{% endblock %}