{% load fontawesome %}
{% load staticfiles %}
<div class="tab-pane fade" id="config">
<div class="row periodo">

</div>
<!--                              PAGE HEADER                            !-->
<div class="page-header" style="margin: 5px 0 20px;"></div>
<div class="row">
    <!-- ----------------------------------------------------------------------------------------------------!-->
    <!--                              PARA LA CONFIGURACION DE TODAS LAS MATERIAS                            !-->
    <!-- ----------------------------------------------------------------------------------------------------!-->
    <div class="col-xs-12">
        <p>Configuración Estandar para todos los cursos <i class="fa fa-question-circle"></i></p>

        <div class="col-xs-12" style="height: 250px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">
            <div class="col-lg-2">
                <div class="col-xs-12 conf-item" style="height:200px; border: 2px solid black;">
                    <div class="col-lg-12">
                        <h3><b>Todos </b></h3><br>
                        Aplicará a todas las asignaturas
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="col-xs-12 conf-item" style="height:200px;border: 2px solid black;">
                    <div class="col-lg-3 puestos" style="margin-top: 25px;">
                        Puestos estudiantes <br>
                        <input class="puestos-estudiante-0" id="puestosEstudiante" type="number" value="0" style="width:25%; margin-top: 25px;"/>

                    </div>
                    <div class="col-lg-3 porcentajes" style="margin-top: 25px;">
                        Porcentajes de cupos <br>
                        <div class="drop-programa drop-programa-0">
                            <div class="dropdown ">
                                <button class="btn btn-default dropdown-toggle button-programa-0" type="button" id="programasAcademicos"
                                        data-toggle="dropdown"
                                        style="margin-left: 3px;">
                                    Selecciona
                                    <span class="caret"></span>

                                </button>
                                <ul class="dropdown-menu drop-estandar" role="menu" aria-labelledby="programasAcademicos"
                                    style="margin-left: 25px;">

                                </ul>

                                <input id="porcentajeEstudiante" type="number" value="0" style="width:25%; margin-top: 25px;"/>
                            </div>
                            <input class="input-programa" name="programa" type="hidden" value="#">
                            <button onclick="guardarPorcentaje(0)" class="btn btn-default" type="button" id="agregarProgramaConfig"
                                    style="margin-left: 20px;margin-top: 20px;">
                                Agregar
                            </button>
                            <p id="alert" style="color:red;font-size: 11px"></p>
                        </div>
                    </div>
                    <div id="listado-porcentaje-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header" style="margin: 5px 0 20px;"></div>
<div class="row">
<!-- ----------------------------------------------------------------------------------------------------!-->
<!--                              CONFIGURACIÓN PERSONALIZADA DE LAS MATERIAS                            !-->
<!-- ----------------------------------------------------------------------------------------------------!-->
<div class="col-xs-12">
<p>Configuración Personalizada por asignatura </p>
        <button class="btn btn-default" type="button" id="expandAll" style="margin-left: 2%;margin-top: 10px; margin-bottom: 10px">
            Ver todos
        </button>
        <button class="btn btn-default" type="button" id="hideAll" style="margin-left: 2%;margin-top: 10px; margin-bottom: 10px;display: none">
            Ocultar todos
        </button>
<!-- ----------------------------------------------------------------------------------------------------!-->
<!--                              MATERIA                                                                !-->
<!-- ----------------------------------------------------------------------------------------------------!-->
<div class="panel-group" id="accordionConf">

</div>
</div>
</div>

<!-- ----------------------------------------------------------------------------------------------------!-->
<!--          BOTONES    GUARDAR LIMPIAR                                                                 !-->
<!-- ----------------------------------------------------------------------------------------------------!-->
<div class="row">
    <div class="col-xs-14">
        <button class="btn btn-Primary" type="button" id="cancelarConfiguracion" style="margin-left:70%;margin-top: 20px;">
            Cancelar
        </button>
        <button class="btn btn-default" type="button" id="limpiarDatos" style="margin-left: 2%;margin-top: 20px;">
            Limpiar
        </button>
        <button class="btn btn-success" type="button" id="guardarConfiguracion" style="margin-left:2%;margin-top: 20px;">
            Guardar
        </button>
    </div>
</div>
</div>
<script>
    var map;
    var programList;
    var cursoList;

    $('#cancelarConfiguracion').click(function(e){
        init();
    });

    $('#limpiarDatos').click(function(e){
        $('#listado-porcentaje-'+0).html('');
        map[0]={'estudiantes':0,'porcentajes':[]};
        for(c in cursoList){
            $('#listado-porcentaje-'+cursoList[c].id).html('');
             $('.puestos-estudiante-'+cursoList[c].id).val(0);
            map[cursoList[c].id]={'estudiantes':0,'porcentajes':[]};
        }
        $('#puestosEstudiante').val(0);
        $('.drop-programa #alert').text('');
        $('.collapse-name').css('color','#333');
    });

    $('#guardarConfiguracion').click(function(e){
        for(c in cursoList){
            var val =  parseInt($('.puestos-estudiante-'+cursoList[c].id).val());
            map[cursoList[c].id]['estudiantes']=val;
        }
        console.log(map);
        var token = "{{ csrf_token }}";
        $.post(Urls.guardar(),{map:JSON.stringify(map),csrfmiddlewaretoken:token}, function (res) {
            e.preventDefault();
            var color = 'red';
            if(res.success){
                color = 'black';
            }
            bootbox.dialog({
                title: "Configuración de Optimizador",
                message: "<div style='text-aling: center; color: "+color+"'>" +
                    "<p>" + res.message + "</p>" +
                    "</div>",
                buttons: {
                    main: {
                        label: "Cerrar",
                        className: "btn-primary",
                        callback: function () {

                        }
                    }
                }
            });

        });
    });

    $('#expandAll').click(function(e){
        $('.panel-collapse').addClass('in');
        $('#hideAll').show();
        $(this).hide();
    });
    $('#hideAll').click(function(e){
        $('.panel-collapse').removeClass('in');
        $('#expandAll').show();
        $(this).hide();
    });

    $('.puestos-estudiante-0').change(function(e) {
        var val =  parseInt($('.puestos-estudiante-0').val());
        if(val>0){
            for(cur in cursoList){
                $('.puestos-estudiante-'+cursoList[cur].id).val(val);
            }
        }
    });
    $(document).ready(function(){
         initConfig();
    });

    function initConfig(){

         $.get(Urls.configurador(), {}, function (res) {
             $('.periodo').html('');
             $('.drop-estandar').html('');
             $('#accordionConf').html('');
             map ={};
             map[0]={'estudiantes':0,'porcentajes':[]};
             $('.periodo').append('<h4><b>Panel de configuración de puestos estudiantes para el periodo '+res.periodo+'</b></h4>');
             programList = res.programas;
             for(i = 0; i < res.programas.length; i++){
                 var n = "'"+res.programas[i].nombre+"'";
                 $('.drop-estandar').append('<li role="presentation"><a id="item-programa" onclick="escogerPrograma('+n+','+res.programas[i].id+','+0+')" role="menuitem" tabindex="-1" href="#">'+res.programas[i].nombre+'</a></li>')
             }
             cursoList = res.cursos;
             for(i = 0; i < res.cursos.length; i++){
                var divAcordeon=$("<div>",{"class":"panel panel-default"});
                var des = false;
                if(i==0)des=true;
                divAcordeon.append("<div class='panel-heading'><h4 class='panel-title'><a class='collapse-name collapse_"+res.cursos[i].id+"' data-toggle='collapse' data-parent='#accordionConf' href='#collapse_"+res.cursos[i].id+"' ><b>"+res.cursos[i].nombre+"</b></a></h4></div>");
                divAcordeon.append(crearCurso(res.cursos[i],res.programas,des));
                $('#accordionConf').append(divAcordeon);
             }
         });
    }

    function crearCurso (curso,programas,desplegado){
        var clase = 'collapse';
        if(desplegado){
            clase=clase+' in';
        }
        map[curso.id]={'estudiantes':curso.estudiantes,'porcentajes':[]};
        var content = '<div id="collapse_'+curso.id+'" class="panel-collapse '+clase+'">'+
            '<div class="panel-body">'+
                '<div class="col-xs-12"'+
                     'style=" height: 250px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">'+
                    '<div class="col-lg-2">'+
                        '<div class="col-xs-12 conf-item" style="height:200px; border: 2px solid black;">'+
                           ' <div class="col-lg-12">'+
                                '<h3><b>'+curso.codigo+'</b></h3><br>'+
                                curso.nombre
                           +'</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="col-lg-10">'+
                        '<div class="col-xs-12 conf-item" style="height:200px;border: 2px solid black;">'+
                            '<div class="col-lg-3 puestos" style="margin-top: 25px;">'+
                                'Puestos estudiantes <br>'+
                                '<input class="puestos-estudiante-'+curso.id+'" id="puestosEstudiante" type="number" value="'+curso.estudiantes+'" style="width:25%; margin-top: 25px;"/>'+
                            '</div>'+
                            '<div class="col-lg-3 porcentajes" style="margin-top: 25px;">'+
                               ' Porcentajes de cupos <br>'+
                                '<div class=" drop-programa drop-programa-'+curso.id+'">'+
                                    '<div class="dropdown">'+
                                        '<button class="btn btn-default dropdown-toggle button-programa-'+curso.id+'" type="button"'+
                                                'id="programasAcademicos" data-toggle="dropdown" style="margin-left: 3px;">'+
                                            'Selecciona <span class="caret"></span>'+
                                        '</button>'+
                                        '<ul class="dropdown-menu" role="menu" aria-labelledby="programasAcademicos"  style="margin-left: 25px;">';
                                             for(h=0;h < programas.length;h++){
                                                 var n = "'"+programas[h].nombre+"'";
                                                 content = content +'<li  role="presentation"><a id="item-programa" role="menuitem" tabindex="-1" onclick="escogerPrograma('+n+','+programas[h].id+','+curso.id+')" data-programa='+programas[h].id+' href="#">'+programas[h].nombre+'</a></li>';
                                             }
                                         content = content +'</ul>'+
                                        '<input id="porcentajeEstudiante" type="number" value="0" style="width:25%; margin-top: 25px;"/>'+
                                    '</div>'+
                                    '<input class="input-programa" name="programa" type="hidden" value="#">'+
                                    '<button onclick="guardarPorcentaje('+curso.id+')" class="btn btn-default" type="button" id="agregarProgramaConfig" style="margin-left: 20px;margin-top: 20px;">'+
                                        'Agregar'+
                                    '</button>'+
                                    '<div id="alert" style="color:red;font-size: 11px"></div>'+
                                '</div>'+
                            '</div>'+
                            '<div id="listado-porcentaje-'+curso.id+'">';
                            for(k=0;k<curso.porcentajes.length;k++){
                                var rec = {'id':curso.porcentajes[k].id,'porcentaje':curso.porcentajes[k].porcentaje, 'nombre':curso.porcentajes[k].nombre}
                                map[curso.id]['porcentajes'].push(rec);
                            }
                            content = content+ crearListadoPorcentaje(curso.id) +'</div> </div>'+
                    '</div>'+
                '</div>'+
            '</div>'+
        '</div>';
        return content;
    }
    function escogerPrograma(nombre,idPrograma, idCurso){
        $('.button-programa-'+idCurso).html(nombre+'<span class="caret"></span>');
        $('.drop-programa-'+idCurso+' .input-programa').val(idPrograma);
    }
    function guardarPorcentaje(idCurso){
        var idPrograma = $('.drop-programa-'+idCurso+' .input-programa').val();
        var porcentaje = $('.drop-programa-'+idCurso+' .dropdown #porcentajeEstudiante').val();
        if(idPrograma && idPrograma > 0 && porcentaje>0){
            if(idCurso==0){
                for(c in cursoList){
                    agregarPorcentaje(cursoList[c].id,idPrograma,porcentaje);
                }
            }
            agregarPorcentaje(idCurso,idPrograma,porcentaje);
        }
    }
    function agregarPorcentaje(idCurso, idPrograma, porcentaje){
        var porc = map[idCurso]['porcentajes'];
            var sum = parseInt(porcentaje);
            var inicial = 0
            for(m=0;m<porc.length; m++){
                inicial = inicial + parseInt(porc[m].porcentaje);
                if(porc[m].id != idPrograma){
                    sum = sum + parseInt(porc[m].porcentaje);
                }
            }
            if(sum > 100){
                $('.drop-programa-'+idCurso+' #alert').html('<b>No puedes agregar un porcentaje superior a '+(100-inicial)+'%</b>');
                $('.collapse_'+idCurso).css('color','red');
            }else{

                var add = false;
                for(m=0;m<porc.length; m++){
                    if(porc[m].id == idPrograma){
                        porc[m].porcentaje=parseInt(porcentaje);
                        add = true;//config-porcentaje-'+curso.id+'
                    }
                }
                if(!add){
                    var name;
                    for(p in programList){
                        if(programList[p].id==idPrograma){
                            name = programList[p].nombre;
                        }
                    }
                    var rec = {'id':parseInt(idPrograma),'porcentaje':parseInt(porcentaje),'nombre':name}
                    map[idCurso]['porcentajes'].push(rec);
                }
                $('#listado-porcentaje-'+idCurso).html('');
                $('#listado-porcentaje-'+idCurso).html(crearListadoPorcentaje(idCurso));
            }
    }
    function crearListadoPorcentaje(idCurso){
          var porcentajes = map[idCurso]['porcentajes'];
          var l = 0;
          var content ='';
          while(l<porcentajes.length){
                content = content + '<div class="col-lg-3 programasConfig  config-porcentaje-'+idCurso+'" style="margin-top: 25px;">'+
                      '<div class="panel-body" style="padding-top: 0; height: 170px;">';
                            for(j=0;j<3 && l<porcentajes.length;j++){
                                content = content +'<div class="plan_item_container droppable plan_item ui-droppable" data-plan="1-5" '+
                                               'style="margin-bottom: 10px; color: white; background-color: rgb(64, 143, 206);" '+
                                               'id="programa-'+porcentajes[l].id+'">' +
                                               '<b>'+porcentajes[l].nombre+':'+porcentajes[l].porcentaje+'%</b>' +
                                               '<a class="eliminarMateriaPlaneador" data-id="'+porcentajes[l].id+'" href="#" onclick="eliminarProgramaCurso('+idCurso+','+porcentajes[l].id+')">' +
                                               '<span style="bottom:0;right:0;position:absolute;color:black" class="glyphicon glyphicon-remove"></span></a></div>';
                                l=l+1;
                            }
                content = content + '</div> </div>';
          }
         $('.drop-programa-'+idCurso+' #alert').text('');
         $('.collapse_'+idCurso).css('color','#333');
          return content;
    }
    function eliminarProgramaCurso(idCurso, idPrograma){
        if(idPrograma && idPrograma > 0 && idCurso > -1){
            if(idCurso==0){
                 var porc = map[idCurso]['porcentajes'];
                 var porcentaje;
                 for(m=0;m<porc.length; m++){
                    if(porc[m].id == idPrograma){
                        porcentaje = porc[m].porcentaje;
                        break;
                    }
                 }
                 for(c in cursoList){
                    var porc2 = map[cursoList[c].id]['porcentajes'];
                    for(n=0;n<porc2.length; n++){
                        if(porc2[n].id == idPrograma && porc2[n].porcentaje == porcentaje){
                           borrarProgramaCurso(cursoList[c].id,idPrograma);
                        }else{
                            $('#listado-porcentaje-'+cursoList[c].id).html('');
                            $('#listado-porcentaje-'+cursoList[c].id).html(crearListadoPorcentaje(cursoList[c].id));
                        }
                    }
                 }
            }
            borrarProgramaCurso(idCurso,idPrograma);
        }
    }
    function borrarProgramaCurso(idCurso,idPrograma){
        var porc3 = map[idCurso]['porcentajes'];
        var pos = -1;
        for(m=0;m<porc3.length; m++){
            if(porc3[m].id == idPrograma){
                pos = m;
                break;//config-porcentaje-'+curso.id+'
            }
        }
        if(pos>-1){
            var obj = porc3.splice(pos,1);
            $('#listado-porcentaje-'+idCurso).html('');
            $('#listado-porcentaje-'+idCurso).html(crearListadoPorcentaje(idCurso));
        }
    }
</script>