{% load fontawesome %}
{% load coordinador_extras %}
<div class="tab-pane fade" id="demanda">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="periodosAcademicos" data-toggle="dropdown"
                style="margin-left: 20px;">
            Periodo Académico
            <span class="caret"></span>
        </button>
        <ul id="selector_semestre" class="dropdown-menu" role="menu" aria-labelledby="periodosAcademicos" style="margin-left: 20px;">
        </ul>
    </div>
    <!--                              PAGE HEADER                            !-->
    <div class="page-header" style="margin: 5px 0 20px;"></div>
    <div class="row">
        <div class="col-xs-9" style="width: 100%;">
            <div class="col-xs-12" style="overflow-y: scroll; height: 500px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);">
                <div id="materias-demanda" class="col-lg-6" style="width: auto">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        $(".nombre_materia").each(function(index){
            var h = $(this).css('height').slice(0,-2);
            if(h<=40){
                $(this).css({marginTop: '25px'});
            }else if(h<=60){
                $(this).css({marginTop: '15px'})
            } else{
                $(this).css({marginTop: '3px'})
            }
        });
        var contenedor = $("#materias-demanda");
        <!-- dark green #003300-->
        $.get("/demandaMaterias/0", function(data){
            contenedor.html("");
            var green = 0;
            var color = '';
            var rule = parseInt(120/data.length);
            for(var i=0;i<data.length;i++){
                var obj = data[i];
                var colorText = 'white';
                var red = 00;
                var blue = 00;
                if(obj.num_estudiantes==0){
                    green = 255;
                    red = 255;
                    blue = 255;
                    colorText = 'black';
                }else{
                    if(i==0){
                        green = 80;
                    }else if(data[i-1].num_estudiantes!=data[i].num_estudiantes){
                        green = 80+(i*rule);
                    }
                    if(green>200)
                    {
                        green=200;
                    }
                }

                color = 'rgb('+red+','+green+','+blue+')';
                contenedor.append("<div class='col-xs-12 conf-item ' style='height:200px; border: 2px solid black;width:165px;margin:10px;background-color:"+color+"; color:"+colorText+";'><h3>"+obj.codigo+"</h3><h5>" +
                        obj.curso+"</h5><h2>"+obj.num_estudiantes+"</h2></div>");
            }
        });

        var contenedor2 = $("#selector_semestre");
        $.get("/semestre", function(data){
            contenedor2.html("");
            for(var i=0;i<data.length;i++){
            var obj = data[i];
            contenedor2.append("<li role='presentation'><a role='menuitem'" +
                    " tabindex='-1' href='#' onclick='updateDemanda("+obj.id+")'>"+obj.nombre+"</a></li>");
            }
        });
    });

    function updateDemanda(id) {
        var contenedor = $("#materias-demanda");
        $.get("/demandaMaterias/"+id, function(data){
            contenedor.html("");
            var green = 0;
            var color = '';
            var rule = parseInt(120/data.length);
            for(var i=0;i<data.length;i++){
                var obj = data[i];
                var colorText = 'white';
                var red = 00;
                var blue = 00;
                if(obj.num_estudiantes==0){
                    green = 255;
                    red = 255;
                    blue = 255;
                    colorText = 'black';
                }else{
                    if(i==0){
                        green = 80;
                    }else if(data[i-1].num_estudiantes!=data[i].num_estudiantes){
                        green = 80+(i*rule);
                    }
                    if(green>200)
                    {
                        green=200;
                    }
                }

                color = 'rgb('+red+','+green+','+blue+')';
                contenedor.append("<div class='col-xs-12 conf-item ' style='height:200px; border: 2px solid black;width:165px;margin:10px;background-color:"+color+"; color:"+colorText+";'><h3>"+obj.codigo+"</h3><h5>" +
                        obj.curso+"</h5><h2>"+obj.num_estudiantes+"</h2></div>");
            }
        });            // the function returns the product of p1 and p2
    }


</script>