{% load fontawesome %}
<div class="tab-pane fade" id="estudiantes">
<div id="panelAcordeon">
    <!-- ----------------------------------------------------------------------------------------------------!-->
    <!--                              VISTA DE LA LISTA DE TODOS LOS ESTUDIANTES                             !-->
    <!-- ----------------------------------------------------------------------------------------------------!-->

    <div class="row">
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <!--                              DATOS DEL ESTUDIANTE                                                   !-->
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <div class="col-xs-12">
            <!-- ----------------------------------------------------------------------------------------------------!-->
            <!--                              AGRUPACION POR LETRA                                                   !-->
            <!-- ----------------------------------------------------------------------------------------------------!-->
            <div class="panel-group" id="accordionEstudiantes">

            </div>
        </div>
    </div>
</div>
<div class="load"></div>
<div id="panelEstudiante" style="display: none">
    <a id="backEstudiantes" href="#"><h5 style="padding-left: 15px;"><span
            class="glyphicon glyphicon-chevron-left"></span><b>Volver a Estudiantes</b></h5></a>
    <!--                              PAGE HEADER                            !-->
    <div style="margin: 10px 0 20px;"></div>

    <!--                              PAGE HEADER                            !-->
    {% comment %}<div class="page-header" style="margin: 5px 0 20px;"></div>{% endcomment %}
    <div class="row">
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <!--                              DATOS DEL ESTUDIANTE                                                   !-->
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <div class="container">
            <div class="col-xs-12">
                <div class="col-xs-12" style="height: 210px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">
                    <div class="col-lg-3">


                        <img src="/static/img/andres.png" style="width:250px;height:200px;padding-top: 10px;">


                    </div>
                    <div class="col-lg-9">
                        <div class="col-xs-12 conf-item" style="height:200px;box-shadow:none;">
                            <div class="col-lg-6" style="margin-top: 25px;">
                                <h4 style="text-align: left;"><b>Nombre:</b>
                                    <datos-est id="nombre"></datos-est>
                                </h4>
                                <h4 style="text-align: left;"><b>Correo:</b>
                                    <datos-est id="correo"></datos-est>
                                </h4>
                                <h4 style="text-align: left;"><b>Programa Académico:</b>
                                    <datos-est id="nombrePrograma"></datos-est>
                                </h4>
                            </div>
                            <div class="col-lg-6" style="margin-top: 25px;">

                                <h4 style="text-align: left;"><b>Créditos Actuales:</b>
                                    <datos-est id="creditosEnCurso"></datos-est>
                                </h4>
                                <h4 style="text-align: left;"><b>Créditos Aprobados:</b>
                                    <datos-est id="creditosAprobados"></datos-est>
                                </h4>
                                <h4 style="text-align: left;"><b>Créditos Planeados:</b>
                                    <datos-est id="creditosPlaneados"></datos-est>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <!--                             DATOS MATERIAS DEL ESTUDIANTE                                           !-->
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <div class="container">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_historico" data-toggle="tab">Historico</a></li>
                        <li><a href="#tab_actual" data-toggle="tab">Actual</a></li>
                        <li><a href="#tab_planeado" data-toggle="tab">Planeado</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_historico">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Asignatura</th>
                                    <th>Código periodo</th>
                                    <th>Créditos</th>
                                    <th>Nota</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_actual">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Asignatura</th>
                                    <th>Código periodo</th>
                                    <th>Créditos</th>
                                    <th>Nota</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_planeado">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Asignatura</th>
                                    <th>Código periodo</th>
                                    <th>Créditos</th>
                                    <th>Nota</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tab content -->
        </div>
        <!-- end of container -->
    </div>

</div>

<script>
    var cursosPlaneados;
    var cursosEnCurso;
    var cursosAprobados;
    $(document).ready(function () {
        init();
        $("#backEstudiantes").click(function () {
            $('#panelEstudiante').hide();
            $('#panelAcordeon').show();
        });
    });
    function init() {
        $.get(Urls.estudiantes(), {}, function (res) {
            $('#accordionEstudiantes').html('');
            createSegmentLetter(res);
        });
    }
    function createSegmentLetter(studentList) {
        for (pos in studentList) {
            console.log(pos)
            var div = $("<div>", {"class": "panel panel-default"});
            div.append('<div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionEstudiantes" href="#collapse' + studentList[pos].letter + '"><b>' + studentList[pos].letter + '</b> </a> </h4></div>');
            var divCollapse = $("<div>", {"id": "collapse" + studentList[pos].letter, "class": "panel-collapse collapse"})
            divCollapse.append('<div class="panel-body" style="overflow-y: scroll;height: 230px;">' + createListStudent(studentList[pos].students) + '</div>');
            div.append(divCollapse);
            $('#accordionEstudiantes').append(div);
        }

    }
    function createListStudent(studentList) {

        var list = '<div class="col-xs-12" style=" height: 100px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">';
        for (h in studentList) {
            if (h != 0 && h % 4 == 0) {
                list = list + '</div><div class="col-xs-12" style=" height: 100px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">';
            }
            list = list + '<a href="#" onclick="mostrarEstudiante(' + studentList[h].id + ')"><div class="col-lg-3">' +
                    '<div class="col-xs-12 conf-item" style="height:70px; border: 2px solid black;">' +
                    '<div class="col-lg-6">' +
                    '<img src="/static/img/andres.png" style="width:50px;height:50px;margin-left: -55px;margin-top: 8px;;margin-right:8px">' +
                    '</div>' +
                    '<div class="col-lg-10" style="margin-left: -65px;">' +
                    '<h6 style="text-align: left;">' + studentList[h].apellido + ' ' + studentList[h].nombre + '</h6>' +
                    '</div>' +
                    '</div>' +
                    '</div><a>';
        }
        return list + '</div>';
    }
    function mostrarEstudiante(idEstudiante) {
        $('#panelAcordeon').hide();
        $('.load').html('<div style="margin: 0 auto; width: 10px; padding: 50px; color:#6C6F74"><i class="fa fa-spinner fa-4x fa-spin"></i></div>');
        //TODO aca va lo de rafa
        $.get('/estudiante/' + idEstudiante, function (res) {
            console.log(res)
            var nombre = res.nombreEstudiante;
            var correo = res.correo;
            var nombrePrograma = res.programa;
            var creditosPlaneados = res.creditos_totales_planeador;
            var creditosAprobados = res.creditos_aprobados_curso_user;
            var creditosEnCurso = res.creditos_totales_en_curso;
            cursosPlaneados = res.cursos_planeados;
            cursosEnCurso = res.cursos_en_curso;
            cursosAprobados = res.cursos_aprobados;
            $('datos-est[id=nombre]').html(nombre);
            $('datos-est[id=correo]').html(correo);
            $('datos-est[id=nombrePrograma]').html(nombrePrograma);
            $('datos-est[id=creditosPlaneados]').html(creditosPlaneados);
            $('datos-est[id=creditosAprobados]').html(creditosAprobados);
            $('datos-est[id=creditosEnCurso]').html(creditosEnCurso);

            for (posCurso in cursosEnCurso) {
                var html = '';

                html += '<tr>' +
                        '<td width="5%">' + (parseInt(posCurso) + 1) + '</td>' +
                        '<td width="55%">' + cursosEnCurso[posCurso].curso + '</td>' +
                        '<td width="20%">' + cursosEnCurso[posCurso].periodo + '</td>' +
                        '<td width="10%">' + cursosEnCurso[posCurso].creditos + '</td>' +
                        '<td width="10%">' + cursosEnCurso[posCurso].nota + '</td>' +
                        '</tr>';

                $('#tab_actual table tbody').append(html);

            }

            for (posCurso in cursosAprobados) {
                var html = '';

                html += '<tr>' +
                        '<td width="5%">' + (parseInt(posCurso) + 1) + '</td>' +
                        '<td width="55%">' + cursosAprobados[posCurso].curso + '</td>' +
                        '<td width="20%">' + cursosAprobados[posCurso].periodo + '</td>' +
                        '<td width="10%">' + cursosAprobados[posCurso].creditos + '</td>' +
                        '<td width="10%">' + cursosAprobados[posCurso].nota + '</td>' +
                        '</tr>';

                $('#tab_historico table tbody').append(html);
            }

            for (posCurso in cursosPlaneados) {
                var html = '';

                html += '<tr>' +
                        '<td width="5%">' + (parseInt(posCurso) + 1) + '</td>' +
                        '<td width="55%">' + cursosPlaneados[posCurso].curso + '</td>' +
                        '<td width="20%">' + cursosPlaneados[posCurso].periodo + '</td>' +
                        '<td width="10%">' + cursosPlaneados[posCurso].creditos + '</td>' +
                        '<td width="10%">' + cursosPlaneados[posCurso].nota + '</td>' +
                        '</tr>';

                $('#tab_planeado table tbody').append(html);
            }

            $('#panelEstudiante').show();
            $('.load').html('');
        }, 'json');

    }
</script>
</div>