{% load fontawesome %}
<div class="tab-pane fade in active" id="home">

    <table border="0" style="width:100%">
      <tr>
        <td><div class="modulo_info">
            <h4>1. Revisar Demanda</h4>
             {% fontawesome_icon 'list fa-5x' %}
            <p class="textHome">Revisa la demanda de tus cursos para el periodo que desees. Encontrarás gráficamente cuáles son los cursos que más estudiantes quieren ver.</p>

        </div></td>
        <td><div class="modulo_info">
            <h4>2. Configurar Optimizador</h4>
             {% fontawesome_icon 'cog fa-5x' %}
             <p class="textHome">Configura los puestos por estudiante de tus cursos para el próximo semestre; cuántos puestos se permitirán y qué porcentaje de cada programa podrá tomar la clase.</p>

        </div></td>
        <td><div class="modulo_info">
            <h4>3. Correr Optimizador</h4>
              {% fontawesome_icon 'bar-chart-o fa-5x' %}
             <p class="textHome">Ejecuta el optimizador y observa la efectividad de tu configuración y cómo serían distribuidos los estudiantes dado los programas a los que pertenecen y la cantidad de créditos que han aprobado.</p>

        </div></td>
        <td><div class="modulo_info">
            <h4>4. Revisar Estudiantes</h4>
             {% fontawesome_icon 'user fa-5x' %}
             <p class="textHome">Observa la lista de estudiantes, busca el historial de un estudiante en específico y la lista de estudiantes habilitados para tomar clase el próximo periodo.</p>

        </div></td>
      </tr>

    </table>

</div>