{% load fontawesome %}
{% load staticfiles %}
<div class="tab-pane fade" id="optimizador">
<div id="container_complemento">
    <div style="text-align: center">
        <a href="javascript:void(0)" onclick="cargarInicial()" data-toggle="tab" title="" style="font-size: 10em;">
            {% fontawesome_icon 'play-circle-o' %}
        </a>

        <p style="margin-top: -25px;">Ejecutar Optimizador</p>
    </div>
</div>


<script>
var materias;
var grupos;

function color(efectividad) {
    if (efectividad > 80) {
        return 'green_class';
    } else if (efectividad > 60) {
        return 'yellow_class';
    } else if (efectividad > 30) {
        return 'orange_class';
    } else {
        return 'red_class';
    }
}

function cargarInicial() {
    $("#container_complemento").hide();
    $("#complemento").show();
    cargarData();
    $("#programas_check").bootstrapSwitch();
    $('#programas_check').on('switchChange.bootstrapSwitch', function (event, state) {
        if (state) {
            $("#contenedor_materias").show().fadeIn();
            $("#programas_grupales").hide().fadeOut();
        } else {
            $("#contenedor_materias").hide().fadeOut();
            $("#programas_grupales").show().fadeIn();
        }
    });
    $("#creditos_check").bootstrapSwitch();
    $("#creditos_check").on('switchChange.bootstrapSwitch', function (event, state) {
        if (state) {
            $("#contenedor_creditos").show().fadeIn();
            $("#creditos_grupales").hide().fadeOut();
        } else {
            $("#contenedor_creditos").hide().fadeOut();
            $("#creditos_grupales").show().fadeIn();
        }
    });
}

function cargarData() {
    $('#contenedor_materias').empty();
    $('#contenedor_creditos').empty();
    $('.panel-optimizador').hide();
    $('.load').html('<div style="margin: 0 auto; width: 10px; padding: 50px; color:#6C6F74"><i class="fa fa-spinner fa-4x fa-spin"></i></div>');
    //$('#contenedor_creditos').html('<div style="margin: 0 auto; width: 10px; padding: 50px; color:#6C6F74"><i class="fa fa-spinner fa-4x fa-spin"></i></div>');
    $.get(Urls.execute(), {}, function (res) {
        var periodo = res.periodo;
        var total = res.total;
        var asignados = res.asignados;
        var noAsignados = res.no_asignados;
        var efectividad = res.efectividad;
        materias = res.materias;
        grupos = res.grupos;
        $('datos-opt[id=periodo]').html(periodo);
        $('datos-opt[id=total]').html(total);
        $('datos-opt[id=no_asignados]').html(noAsignados);
        $('datos-opt[id=asignados]').html(asignados);
        $('datos-opt[id=efectividad]').html(efectividad);
        $('datos-opt[id=efectividad]').parent().parent().parent().parent().removeClass('yelloy_class green_class red_class orange_class')
        $('datos-opt[id=efectividad]').parent().parent().parent().parent().addClass(color(efectividad));//css({backgroundColor:color(efectividad)});
        for (var i in materias) {
            cargarMateriasPrograma(i);
        }
        cargarGrupales();
        $('.load').html('');
        $('.panel-optimizador').show();
    });
}

function cargarGrupales() {
    var options = {
        chart: {
            renderTo: "programas_grupales",
            type: 'bar'
        },
        title: {
            text: "Asignación general"
        },
        xAxis: {
            categories: ['Asignados', 'No Asignados']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Asignación de cupos respecto al programa del estudiante'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: []
    };
    var options2 = {
        chart: {
            renderTo: "creditos_grupales",
            type: 'bar'
        },
        title: {
            text: "Asignación general "
        },
        xAxis: {
            categories: ['Asignados', 'No Asignados']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Asignación de cupos respecto a la cantidad de créditos del estudiante'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: []
    };
    var programas = grupos.programas;
    for (var i in programas) {
        var asignados = programas[i].asignados;
        var no_asignados = programas[i].no_asignados;
        options.series.push(new Object());
        options.series[i].data = [asignados, no_asignados];
        options.series[i].name = programas[i].nombre;
    }
    var creditos = grupos.niveles;
    for (var i in creditos) {
        var asignados = creditos[i].asignados;
        var no_asignados = creditos[i].no_asignados;
        options2.series.push(new Object());
        options2.series[i].data = [asignados, no_asignados];
        options2.series[i].name = creditos[i].nombre;
    }
    var chart = new Highcharts.Chart(options);
    var chart2 = new Highcharts.Chart(options2);
}

function cargarMateriasPrograma(idMateria) {
    var materia = materias[idMateria];
    var estuAsigna = '';
    for (var i in materia.estudiantes.asignados) {
        estuAsigna += '<tr>' +
                '<td>' + materia.estudiantes.asignados[i].nombre + '</td>' +
                '<td>' + materia.estudiantes.asignados[i].promedio + '</td>' +
                '<td>' + materia.estudiantes.asignados[i].codigo + '</td>' +
                '<td>' + materia.estudiantes.asignados[i].programa + '</td>' +
                '</tr>';
    }

    var estuNoAsigna = '';
    for (var i in materia.estudiantes.no_asignados) {
        estuNoAsigna += '<tr>' +
                '<td>' + materia.estudiantes.no_asignados[i].nombre + '</td>' +
                '<td>' + materia.estudiantes.no_asignados[i].promedio + '</td>' +
                '<td>' + materia.estudiantes.no_asignados[i].codigo + '</td>' +
                '<td>' + materia.estudiantes.no_asignados[i].programa + '</td>' +
                '</tr>';
    }

    var html = '<div class="col-xs-12" style="height: 220px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">' +
            '<div class="col-lg-2">' +
            '<div class="col-xs-12 conf-item ' + color(materia.efectividad) + '" style="height:200px;">' +//background-color: '+color(materia.efectividad)+
            '<div class="col-lg-12">' +
            '<h3><b>' + materia.codigo + '</b></h3>' +
            '<h5>' + materia.nombre + '</h5>' +
            '<h2>' + materia.efectividad + '%</h2>' +
            '<h5>Efectividad</h5>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="col-lg-8">' +
            '<div id="programas_' + materia.nombre + '" style="min-width: 630px; max-width: 800px; height: 200px; margin: 0 auto;"></div>' +
            '</div>' +
            '<div class="col-lg-2" style="margin-top: 25px">' +
            '<h5 style="text-align: left;">Total Puestos: ' + materia.total + ' </h5>' +
            '<h5 style="text-align: left;">Validos: ' + materia.asignados + '</h5>' +
            '<h5 style="text-align: left;">Rechazados: ' + materia.no_asignados + '</h5>' +
        <!-- boton -->
            '<a href="#" class="btn btn-lg btn-success" style="background-color: #428bca; border-color: #428bca; line-height: 0.8; font-size: 15px;"' +
            'data-toggle="modal"' +
            'data-target="#basicModal' + idMateria + '">Ver estudiantes</a>' +
        <!-- Modal -->
            '<div class="modal fade" id="basicModal' + idMateria + '" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">' +
            '<div class="modal-dialog" style=" width: 900px !important;">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<button type="button" class="w" data-dismiss="modal" aria-hidden="true" style="right:0; float: right">x</button>' +
            '<h4 class="modal-title" id="myModalLabel">Estudiantes</h4>' +
            '</div>' +
            '<div class="modal-body">' +
        <!-- Tabs -->
             '<div class="panel with-nav-tabs panel-primary">'+
                '<div class="panel-heading">'+
                    '<ul class="nav nav-tabs">'+
                        '<li class="active"><a href="#tabEstuAsig' + idMateria + '" data-toggle="tab">Asignados</a></li>'+
                        '<li><a href="#tabEstuNoAsig' + idMateria + '" data-toggle="tab">No Asignados</a></li>'+
                    '</ul>'+
                '</div>'+
                '<div class="panel-body">'+
            '<div class="tab-content">' +
            '<div class="tab-pane active" id="tabEstuAsig' + idMateria + '">' +
            '<div class="row" style="margin-left:0; width:100%">' +
            '<h4 class="pull-left"><b>Estudiantes Asignados</b></h4><br/>' +
        <!-- Tabla asignados-->
            '<table id="example' + idMateria + '" class="display" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</thead>' +
            '<tfoot>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</tfoot>' +
            '<tbody>' +
            estuAsigna +
            '</tbody>' +
            '</table>' +
            '</div>' +
            '</div>' +
            '<div class="tab-pane" id="tabEstuNoAsig' + idMateria + '">' +
            '<div class="row" style="margin-left:0;  width:100%">' +
            '<h4 class="pull-left"><b>Estudiantes No Asignados</b></h4>' +
        <!-- Tabla no asignados-->
            '<table id="example2' + idMateria + '" class="display" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</thead>' +
            '<tfoot>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</tfoot>' +
            '<tbody>' +
            estuNoAsigna +
            '</tbody>' +
            '</table>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="modal-footer">' +
            '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
    var htmlCreditos = '<div class="col-xs-12" style="height: 220px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">' +
            '<div class="col-lg-2">' +
            '<div class="col-xs-12 conf-item ' + color(materia.efectividad) + '" style="height:200px;">' +
            '<div class="col-lg-12">' +
            '<h3><b>' + materia.codigo + '</b></h3>' +
            '<h5>' + materia.nombre + '</h5>' +
            '<h2>' + materia.efectividad + '%</h2>' +
            '<h5>Efectividad</h5>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="col-lg-8">' +
            '<div id="creditos_' + materia.nombre + '" style="min-width: 630px; max-width: 800px; height: 200px; margin: 0 auto;"></div>' +
            '</div>' +
            '<div class="col-lg-2" style="margin-top: 25px">' +
            '<h5 style="text-align: left;">Total Puestos: ' + materia.total + ' </h5>' +
            '<h5 style="text-align: left;">Validos: ' + materia.asignados + '</h5>' +
            '<h5 style="text-align: left;">Rechazados: ' + materia.no_asignados + '</h5>' +
           // '<a>Listado de Inscritos</a>' +
                 <!-- boton -->
            '<a href="#" class="btn btn-lg btn-success" style="background-color: #428bca; border-color: #428bca; line-height: 0.8; font-size: 15px;"' +
            'data-toggle="modal"' +
            'data-target="#basicModal2' + idMateria + '">Ver estudiantes</a>' +
            <!-- Modal -->
            '<div class="modal fade" id="basicModal2' + idMateria + '" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">' +
            '<div class="modal-dialog" style=" width: 900px !important;">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<button type="button" class="w" data-dismiss="modal" aria-hidden="true" style="right:0; float: right">x</button>' +
            '<h4 class="modal-title" id="myModalLabel">Estudiantes</h4>' +
            '</div>' +
            '<div class="modal-body">' +
        <!-- Tabs -->
             '<div class="panel with-nav-tabs panel-primary">'+
                '<div class="panel-heading">'+
                    '<ul class="nav nav-tabs">'+
                        '<li class="active"><a href="#tabEstuAsigc' + idMateria + '" data-toggle="tab">Asignados</a></li>'+
                        '<li><a href="#tabEstuNoAsigc' + idMateria + '" data-toggle="tab">No Asignados</a></li>'+
                    '</ul>'+
                '</div>'+
                '<div class="panel-body">'+
            '<div class="tab-content">' +
            '<div class="tab-pane active" id="tabEstuAsigc' + idMateria + '">' +
            '<div class="row" style="margin-left:0; width:100%">' +
            '<h4 class="pull-left"><b>Estudiantes Asignados</b></h4><br/>' +
        <!-- Tabla asignados-->
            '<table id="example' + idMateria + 'c" class="display" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</thead>' +
            '<tfoot>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</tfoot>' +
            '<tbody>' +
            estuAsigna +
            '</tbody>' +
            '</table>' +
            '</div>' +
            '</div>' +
            '<div class="tab-pane" id="tabEstuNoAsigc' + idMateria + '">' +
            '<div class="row" style="margin-left:0;  width:100%">' +
            '<h4 class="pull-left"><b>Estudiantes No Asignados</b></h4>' +
        <!-- Tabla no asignados-->
            '<table id="example2' + idMateria + 'c" class="display" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</thead>' +
            '<tfoot>' +
            '<tr>' +
            '<th>Nombre</th>' +
            '<th>Créditos</th>' +
            '<th>Código</th>' +
            '<th>Programa</th>' +
            '</tr>' +
            '</tfoot>' +
            '<tbody>' +
            estuNoAsigna +
            '</tbody>' +
            '</table>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="modal-footer">' +
            '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
    $('#contenedor_materias').append(html);
    $('#contenedor_creditos').append(htmlCreditos);
    var options = {
        chart: {
            renderTo: "programas_" + materia.nombre,
            type: 'bar'
        },
        title: {
            text: "Asignación para " + materia.nombre
        },
        xAxis: {
            categories: ['Asignados', 'No Asignados']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Asignación de cupos respecto al programa del estudiante'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: []
    };
    var options2 = {
        chart: {
            renderTo: "creditos_" + materia.nombre,
            type: 'bar'
        },
        title: {
            text: "Asignación para " + materia.nombre
        },
        xAxis: {
            categories: ['Asignados', 'No Asignados']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Asignación de cupos respecto a la cantidad de créditos del estudiante'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: []
    };
    var programas = materias[idMateria].programas;
    for (var i in programas) {
        var asignados = programas[i].asignados;
        var no_asignados = programas[i].no_asignados;
        options.series.push(new Object());
        options.series[i].data = [asignados, no_asignados];
        options.series[i].name = programas[i].nombre;
    }
    var creditos = materias[idMateria].niveles;
    for (var i in creditos) {
        var asignados = creditos[i].asignados;
        var no_asignados = creditos[i].no_asignados;
        options2.series.push(new Object());
        options2.series[i].data = [asignados, no_asignados];
        options2.series[i].name = creditos[i].nombre;
    }
    var chart = new Highcharts.Chart(options);
    var chart2 = new Highcharts.Chart(options2);
    $('#example' + idMateria).DataTable();
    $('#example2' + idMateria).DataTable();
    $('#example' + idMateria+'c').DataTable();
    $('#example2' + idMateria+'c').DataTable();
}

</script>
<div class="load"></div>
<div class="panel-optimizador" id="complemento" style="display: none">
    <div class="row">
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <!--                              RESULTADO DEL CASO  CONFIGURADO                                        !-->
        <!-- ----------------------------------------------------------------------------------------------------!-->
        <div class="container">
            <div class="col-xs-12">
                <p>Resultado del caso configurado <i class="fa fa-question-circle"></i></p>

                <div class="col-xs-12" style="height: 250px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); ">
                    <div class="col-lg-2">
                        <div class="col-xs-12 conf-item"
                             style="height:150px; border-radius: 400px;margin-top: 40px;">
                            <div class="col-lg-12">
                                <h1 style="margin-top: 30px;">
                                    <b style="font-size: 45px;">
                                        <datos-opt id="efectividad"></datos-opt>
                                        % </b>
                                </h1>
                                <br>
                                <b> Efectividad</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="col-xs-12 conf-item" style="height:200px;">
                            <div class="col-lg-9 datosBasicos" style="margin-top: 25px;">
                                <h4 style="text-align: left;">Periodo:
                                    <datos-opt id="periodo"></datos-opt>
                                </h4>
                                <h4 style="text-align: left;">Total de puestos por estudiante solicitados:
                                    <datos-opt id="total"></datos-opt>
                                </h4>
                                <h4 style="text-align: left;">Puestos sin asignación:
                                    <datos-opt id="no_asignados"></datos-opt>
                                </h4>
                                <h4 style="text-align: left;">Puestos asignados con éxito:
                                    <datos-opt id="asignados"></datos-opt>
                                </h4>
                            </div>
                            <div class="col-lg-3 porcentajes" style="margin-top: 25px;">
                                <a href="javascript:void(0)" onclick="cargarData()" data-toggle="tab" title="">
                                    <i class="fa fa-play-circle-o fa-5x"></i>
                                </a><br>
                                Re-ejecutar Optimizador <i class="fa fa-question-circle fa-3"
                                                           data-original-title="reEjecutar"></i> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ----------------------------------------------------------------------------------------------------!-->
    <!--                              CONTENEDOR GRAFICAS                                                    !-->
    <!-- ----------------------------------------------------------------------------------------------------!-->
    <div class="row">
        <div class="container">
           <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li  class="active"><a href="#tabProgramas" data-toggle="tab">Programas</a></li>
                        <li><a href="#tabCreditos" data-toggle="tab">Créditos</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabProgramas">
                            <div class="row" style="margin-left:0;">
                                <h4 class="pull-left"><b>Análisis de asignación por programas</b></h4>

                                <div class="pull-right">
                                    <input type="checkbox" id="programas_check" name="programas_check" checked
                                           data-on-text="I" data-off-text="G">
                                </div>
                            </div>
                            <!--                              PAGE HEADER                            !-->
                            <div class="page-header" style="margin: 5px 0 20px;"></div>
                            <!-- ----------------------------------------------------------------------------------------------------!-->
                            <!--                              GRAFICAS                                                               !-->
                            <!-- ----------------------------------------------------------------------------------------------------!-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Resultado del caso configurado <i class="fa fa-question-circle"></i></p>

                                    <div id="contenedor_materias">

                                    </div>

                                    <div id="programas_grupales" style="display: none; width: 1100px; height: 400px">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabCreditos">
                            <div class="row" style="margin-left:0;">
                                <h4><b>Análisis de asignación por créditos</b></h4>

                                <div class="pull-right">
                                    <input type="checkbox" id="creditos_check" name="creditos_check" checked
                                           data-on-text="I" data-off-text="G">
                                </div>
                            </div>
                            <!--                              PAGE HEADER                            !-->
                            <div class="page-header" style="margin: 5px 0 20px;"></div>
                            <!-- ----------------------------------------------------------------------------------------------------!-->
                            <!--                              GRAFICAS                                                               !-->
                            <!-- ----------------------------------------------------------------------------------------------------!-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Resultado del caso configurado <i class="fa fa-question-circle"></i></p>

                                    <div id="contenedor_creditos">

                                    </div>

                                    <div id="creditos_grupales" style="display: none;  width: 1100px; height: 400px">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>